
@import 'bio.css';
@import 'books.css';
@import 'contact.css';
@import 'footer.css';
@import 'header.css';
@import 'ontour.css';
@import 'variables.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--colorBg);
    font-family: var(--fontMain);
}

main {
    display: block; 
    width: 100%; 
    margin: 0 auto; 
    padding: 0 1rem; 
}

main > section {
    margin-bottom: 3rem; 
    width: 100%; 
}

@media (min-width: 1024px) {s
    body {
        justify-content: flex-start;
        margin-left: calc((100vw - 745px) / 2 - 15%);
        margin-right: calc((100vw - 745px) / 2 - 15%);
    }
}
@media (min-width: 1024px) {
    body {
        justify-content: flex-start;
        margin-left: calc((100vw - 745px) / 2 - 15%);
        margin-right: calc((100vw - 745px) / 2 - 15%);
    }
}

h1, h2, h3 {
    font-family: var(--font-header);
}

a {
    color: var(--colorLink);
    text-decoration: none;
}

a:hover {
    color: var(--colorCTA);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

